{% extends 'mail/base.html' %}
{% load template_tags %}
{% block text %}
            <table cellpadding="0" cellspacing="0" width="100%" style="color: #000">
                <tr>
                    <td style="border:  1px solid #dddcdc; background: #fff; padding:  15px;">
                        <h1 style="padding: 0; margin:  0 0 20px; font-weight: normal; font-size: 20px;">Друзья, наш марафон уже начался!</h1>
                      <p style="margin:  0 0 15px; color: #575757; padding: 0;"><span style="margin-right:  10px;">
                          Ссылка для подключения: <a href="https://www.youtube.com/watch?v=PLzpwCwL7Kc">https://www.youtube.com/watch?v=PLzpwCwL7Kc</a>
                      </span>
                        </p>

                    </td>
                </tr>
            </table>
{% endblock %}