{% extends 'base.html' %}
{% block title %}Пароль задан{% endblock %}
{% load template_tags mptt_tags %}
{% block center %}
<div class="decisions">
                <div class="container">

                    <div class="text-part" style="text-align: center; padding: 50px 0;">
                        <div class="title">
                            <h2>Пароль успешно задан</h2>
                        </div>
                        <p> Вы можете <a href="#login" data-fancybox class="fancy c-blue"> войти</a> на сайт используя
                            Ваш email и
                            пароль.</p>

                    </div>

                    <div class="clr"></div>
                </div>

            </div>



{% endblock %}