{% extends 'base.html' %}
{% block title %}Аккаунт подтверждён{% endblock %}
{% load template_tags mptt_tags %}
{% block center %}
<div class="respondes">
        <div class="container">
            <div class="content-blog" style="text-align: center;">
                        <div class="title">
                            <h2>Регистрация завершена</h2>
                        </div>
                       <h3> Ваш аккаунт активирован.<br/>Благодарим за регистрацию.</h3>
                        <p> Вы можете <a href="#login" data-fancybox class="c-green fw300"> войти</a> на сайт используя
                            Ваш email и
                            пароль.</p>



            </div>
            </div>

    </div>


{% endblock %}