{% extends 'inner.html' %}
{% load template_tags %}
{% block title %}Личный кабинет{% endblock %}
{% block cont_class %}lk-area{% endblock %}
{% block bread %}
    <span>/</span>
    <a href="{% url 'profiles' %}">Личный кабинет</a>
{% endblock %}

{% block inner_title %}ЛИЧНЫЙ КАБИНЕТ{% endblock %}
{% block inner_right %}
    <div id="lk-menu" class="right flr">
        <div class="menu-close"></div>

        <div class="balance">
            <span class="c-green fw300">Ваш баланс:</span>

            <div class="summ">
                <strong>{{ user.profiles.balance|floatformat:0|price }}</strong>
                руб
            </div>
        </div>

        <div class="lk-menu">
            <ul>
                <li><a href="{% url 'profiles' %}">Пополнение баланса</a></li>
                <li><a href="{% url 'profiles' %}">Мой профиль
                    {% if not user.profiles.email_confirm %}
                    <a href="{% url 'send_activate' %}" title="Что бы подтвердить email нажмите сюда, после этого на регистрационную почту придёт письмо, в котором нужно перейти по ссылке">
                    <i class="not-complete"></i></a>
                    {% endif %}</a></li>
                <li><a href="{% url 'profiles_detail_call' %}">Посмотреть детализацию звонков</a></li>
                <li><a href="{% url 'profiles_tariff' %}">Управление услугами</a></li>
                <li><a href="{% url 'profiles_ticket' %}">Поддержка {% if user.profiles.get_no_read_ticket.exists %}
                    <span class="mes-amount">{{ user.profiles.get_no_read_ticket|length }}</span>{% endif %}</a></li>
            </ul>
        </div>
    </div>

{% endblock %}
{% block inner_center %}
    <div class="front-box tickets-page imf">
        <h2>Мои данные</h2>
        <div class="history">
            <div class="info">
                <div class="key">{{ user.get_full_name }}</div>
                <div class="value"></div>
            </div>
            <div class="info">
                <div class="key">Email:</div>
                <div class="value">{{ user.email }}
                {% if user.profiles.email_confirm %}
                    <i title="Email подтверждён" class="complete"></i>
                    {% else %}
                    <a href="{% url 'send_activate' %}" title="Что бы подтвердить email нажмите сюда, после этого на регистрационную почту придёт письмо, в котором нужно перейти по ссылке">
                    <i class="not-complete"></i>
                    Подтвердить email
                    </a>
                    {% endif %}
                </div>
            </div>
        {% if user.profiles.phone %}
            <div class="info">
                <div class="key">Телефон:</div>
                <div class="value">{{ user.profiles.phone }}
                {% if user.profiles.phone_confirm %}
                    <i title="Телефон подтверждён" class="complete"></i>
                    {% else %}
                    <a href="#" title="Что бы подтвердить телефон нажмите сюда, после этого на регистрационный номер придёт сообщение с кодом подтверждения">
                    <i class="not-complete"></i>
                    Подтвердить телефон
                    </a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
            {% if user.profiles.zip %}
            <div class="info">
                <div class="key">Почтовый индекс:</div>
                <div class="value">{{ user.profiles.zip }}</div>
            </div>{% endif %}
            {% if user.profiles.region %}
            <div class="info">
                <div class="key">Регион:</div>
                <div class="value">{{ user.profiles.region }}</div>
            </div>{% endif %}
            {% if user.profiles.city %}
            <div class="info">
                <div class="key">Город:</div>
                <div class="value">{{ user.profiles.city }}</div>
            </div>{% endif %}
            {% if user.profiles.street %}
            <div class="info">
                <div class="key">Улица:</div>
                <div class="value">{{ user.profiles.street }}</div>
            </div>{% endif %}
            {% if user.profiles.build %}
            <div class="info">
                <div class="key">Дом:</div>
                <div class="value">{{ user.profiles.build }}</div>
            </div>{% endif %}
            {% if user.profiles.flat %}
            <div class="info">
                <div class="key">Квартира:</div>
                <div class="value">{{ user.profiles.flat }}</div>
            </div>{% endif %}
            {% if user.profiles.company %}
            <div class="info">
                <div class="key">Компания:</div>
                <div class="value">{{ user.profiles.company }}</div>
            </div>{% endif %}
            {% if user.profiles.type_company %}
            <div class="info">
                <div class="key">Форма организации:</div>
                <div class="value">{{ user.profiles.type_company }}</div>
            </div>{% endif %}
            {% if user.profiles.inn %}
            <div class="info">
                <div class="key">ИНН:</div>
                <div class="value">{{ user.profiles.inn }}</div>
            </div>{% endif %}
            {% if user.profiles.kpp %}
            <div class="info">
                <div class="key">КПП:</div>
                <div class="value">{{ user.profiles.kpp }}</div>
            </div>{% endif %}
            {% if user.profiles.bank %}
            <div class="info">
                <div class="key">Банк:</div>
                <div class="value">{{ user.profiles.bank }}</div>
            </div>{% endif %}
            {% if user.profiles.check_acc %}
            <div class="info">
                <div class="key">Расчётный счёт:</div>
                <div class="value">{{ user.profiles.check_acc }}</div>
            </div>{% endif %}
            {% if user.profiles.ajust_acc %}
            <div class="info">
                <div class="key">Кор. счёт:</div>
                <div class="value">{{ user.profiles.ajust_acc }}</div>
            </div>{% endif %}
            {% if user.profiles.bik %}
            <div class="info">
                <div class="key">БИК:</div>
                <div class="value">{{ user.profiles.bik }}</div>
            </div>{% endif %}
            {% if user.profiles.name_ceo %}
            <div class="info">
                <div class="key">Имя руководителя:</div>
                <div class="value">{{ user.profiles.name_ceo }}</div>
            </div>{% endif %}
            {% if user.profiles.email_ceo %}
            <div class="info">
                <div class="key">Email руководителя:</div>
                <div class="value">{{ user.profiles.email_ceo }}</div>
            </div>{% endif %}

        </div>
        <a href="{% url 'profiles_settings' %}" class="green-btn c-white fw300 fll">Изменить данные</a>
        <div class="clr"></div>
    </div>
{% endblock %}