{% extends 'profiles/profile.html' %}
{% block inner_center %}
<div class="tarif-choice">
                    <span class="c-green fw300">Детализация звонков</span>

                    <div class="date-form">
                        <form>
                            <div class="form-item">
                                <label>Период:</label>
                                <input type="text" class="data"/>
                            </div>
                            <div class="form-item">
                                <label>&ndash;</label>
                                <input type="text" class="data"/>
                            </div>

                            <div class="form-item">
                                <button class="green-btn">показать</button>
                            </div>
                        </form>
                    </div>

                    <div class="table-wrapper">

                        <table>
                            <thead>
                            <tr>
                                <th>Дата и время
                                    звонка
                                </th>
                                <th>
                                    Номер вызова
                                </th>
                                <th>
                                    Действующий тариф
                                </th>
                                <th>Время разговора (мин)</th>
                                <th>Стоимость
                                    разговора (руб)
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>17.11.2017 12:36</td>
                                <td><strong>+7(900)1234567</strong></td>
                                <td>Стандарт</td>
                                <td><strong>1:23</strong></td>
                                <td><strong>1.23</strong></td>
                            </tr>
                            <tr>
                                <td>17.11.2017 12:36</td>
                                <td><strong>+7(900)1234567</strong></td>
                                <td>Стандарт</td>
                                <td><strong>1:23</strong></td>
                                <td><strong>1.23</strong></td>
                            </tr>
                            <tr>
                                <td>17.11.2017 12:36</td>
                                <td><strong>+7(900)1234567</strong></td>
                                <td>Стандарт</td>
                                <td><strong>1:23</strong></td>
                                <td><strong>1.23</strong></td>
                            </tr>
                            <tr>
                                <td>17.11.2017 12:36</td>
                                <td><strong>+7(900)1234567</strong></td>
                                <td>Стандарт</td>
                                <td><strong>1:23</strong></td>
                                <td><strong>1.23</strong></td>
                            </tr>
                            <tr>
                                <td>17.11.2017 12:36</td>
                                <td><strong>+7(900)1234567</strong></td>
                                <td>Стандарт</td>
                                <td><strong>1:23</strong></td>
                                <td><strong>1.23</strong></td>
                            </tr>
                            <tr>
                                <td>17.11.2017 12:36</td>
                                <td><strong>+7(900)1234567</strong></td>
                                <td>Стандарт</td>
                                <td><strong>1:23</strong></td>
                                <td><strong>1.23</strong></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>


                    <div class="pager">
                        <ul>
                            <li class="prev"><a href="#"></a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li class="active"><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li class="next"><a href="#"></a></li>
                        </ul>
                    </div>
                </div>

{% endblock %}