{% extends 'inner.html' %}
{% load template_tags %}
{% block title %}Личный кабинет{% endblock %}
{% block cont_class %}lk-area{% endblock %}
{% block bread %}
    <span>/</span>
    <a href="{% url 'profiles' %}">Личный кабинет</a>
{% endblock %}

{% block inner_title %}ЛИЧНЫЙ КАБИНЕТ{% endblock %}
{% block inner_right %}
    <div id="lk-menu" class="right flr">
        <div class="menu-close"></div>

        <div class="balance">
            <span class="c-green fw300">Ваш баланс:</span>

            <div class="summ">
                <strong>{{ user.profiles.balance|floatformat:0|price }}</strong>
                руб
            </div>
        </div>

        <div class="lk-menu">
            <ul>
                <li><a href="{% url 'profiles' %}">Пополнение баланса</a></li>
                <li><a href="{% url 'profiles' %}">Мой профиль{% if not user.profiles.email_confirm %}
                    <a href="{% url 'send_activate' %}" title="Что бы подтвердить email нажмите сюда, после этого на регистрационную почту придёт письмо, в котором нужно перейти по ссылке">
                    <i class="not-complete"></i></a>
                    {% endif %}</a></li>
                <li><a href="{% url 'profiles_detail_call' %}">Посмотреть детализацию звонков</a></li>
                <li><a href="{% url 'profiles_tariff' %}">Управление услугами</a></li>
                <li><a href="{% url 'profiles_ticket' %}">Поддержка {% if user.profiles.get_no_read_ticket.exists %}
                    <span class="mes-amount">{{ user.profiles.get_no_read_ticket|length }}</span>{% endif %}</a></li>
            </ul>
        </div>
    </div>

{% endblock %}
{% block inner_center %}
    <div class="front-box tickets-page imf">
        <h2>Изменение данных</h2>
        <form action="." class="registration ajaxForm no-js" method="POST">
        {% if form.non_field_errors %}
    {% for err in form.non_field_errors %}
      <p class="error">{{ err }}</p>
    {% endfor %}
{% endif %}
        {% csrf_token %}
                <input type="hidden" name="type_user" value="ur"/>
                <div class="form">
                   <div class="item req">
                            <input name="first_name" placeholder="ФИО" value="{{ form.first_name.value }}" type="text"/>
                       {% if form.first_name.errors %}{{ form.first_name.errors }}{% endif %}
                    </div>
                    <input type="hidden" name="user" value="{{ user.id }}">

                    <div class="item">
                        <div class="form-item fll req">
                            <input name="email" placeholder="E-mail *" value="{{ form.email.value }}" type="text"/>
                            {% if form.email.errors %}{{ form.email.errors }}{% endif %}
                        </div>
                        <div class="form-item flr req">
                            <input name="phone" placeholder="Телефон *" value="{{ form.phone.value|default:'' }}" type="text"/>
                            {% if form.phone.errors %}{{ form.phone.errors }}{% endif %}
                        </div>
                        <div class="clr"></div>
                    </div>
                    {% if user.profiles.type_user == 'fis' %}

                    <div class="item">
                        <div class="form-item fll req">
                            <input name="zip" placeholder="Почтовый индекс *" value="{{ form.zip.value|default:'' }}" type="text"/>
                            {% if form.zip.errors %}{{ form.zip.errors }}{% endif %}
                        </div>
                        <div class="form-item flr req">
                            <input name="region" placeholder="Регион (область, край, республика) *" value="{{ form.region.value|default:'' }}" type="text"/>
                            {% if form.region.errors %}{{ form.region.errors }}{% endif %}
                        </div>
                        <div class="clr"></div>
                    </div>
                    <div class="item">
                        <div class="form-item fll req">
                            <input name="city" placeholder="Город *" value="{{ form.city.value|default:'' }}" type="text"/>
                            {% if form.city.errors %}{{ form.city.errors }}{% endif %}
                        </div>
                        <div class="form-item flr req">
                            <input name="street" placeholder="Улица *" value="{{ form.street.value|default:'' }}" type="text"/>
                            {% if form.street.errors %}{{ form.street.errors }}{% endif %}
                        </div>
                        <div class="clr"></div>
                    </div>

                    <div class="item">
                        <div class="form-item fll req">
                                <input name="build" placeholder="Дом *" value="{{ form.build.value|default:'' }}" type="text"/>
                            {% if form.build.errors %}{{ form.build.errors }}{% endif %}
                        </div>
                        <div class="form-item flr">
                            <input name="flat" placeholder="Квартира" value="{{ form.flat.value|default:'' }}" type="text"/>
                            {% if form.flat.errors %}{{ form.flat.errors }}{% endif %}
                        </div>

                        <div class="clr"></div>
                    </div>
                    {% else %}
                        <div class="item req">
                        <input name="company" placeholder="Наименование организации" value="{{ form.company.value|default:'' }}" type="text"/>
                        {% if form.company.errors %}{{ form.company.errors }}{% endif %}
                    </div>

                    <div class="item">
 <div class="form-item fll req">
                            <input name="name_ceo" placeholder="ФИО руководителя *" value="{{ form.name_ceo.value|default:'' }}" type="text"/>
     {% if form.name_ceo.errors %}{{ form.name_ceo.errors }}{% endif %}
                        </div>

                        <div class="form-item flr req">
                            <input name="type_company" placeholder="Форма организации *" value="{{ form.type_company.value|default:'' }}" type="text"/>
                            {% if form.type_company.errors %}{{ form.type_company.errors }}{% endif %}
                        </div>

                        <div class="clr"></div>

                    </div>

                    <div class="item">
                        <div class="form-item fll req">
                            <input name="inn" placeholder="ИНН *" value="{{ form.inn.value|default:'' }}" type="text"/>
                            {% if form.inn.errors %}{{ form.inn.errors }}{% endif %}
                        </div>
                        <div class="form-item flr req">
                            <input name="kpp" placeholder="КПП *" value="{{ form.kpp.value|default:'' }}" type="text"/>
                            {% if form.kpp.errors %}{{ form.kpp.errors }}{% endif %}
                        </div>
                        <div class="clr"></div>
                    </div>
                    <div class="item">
                        <div class="form-item fll req">
                            <input name="bank" placeholder="Банк *" value="{{ form.bank.value|default:'' }}" type="text"/>
                            {% if form.bank.errors %}{{ form.bank.errors }}{% endif %}
                        </div>
                        <div class="form-item flr req">
                            <input name="check_acc" placeholder="Расчетный счет *" value="{{ form.check_acc.value|default:'' }}" type="text"/>
                            {% if form.check_acc.errors %}{{ form.check_acc.errors }}{% endif %}
                        </div>
                        <div class="clr"></div>
                    </div>
                    <div class="item">
                        <div class="form-item fll req">
                                <input name="ajust_acc" placeholder="Кор. счет *" value="{{ form.ajust_acc.value|default:'' }}" type="text"/>
                            {% if form.ajust_acc.errors %}{{ form.ajust_acc.errors }}{% endif %}
                        </div>

                        <div class="form-item flr req">
                            <input name="bik" placeholder="БИК *" value="{{ user.profiles.bik|default:'' }}" type="text"/>
                            {% if form.bik.errors %}{{ form.bik.errors }}{% endif %}
                        </div>
                        <div class="clr"></div>


                    </div>
                    <div class="item">
                        <div class="form-item req">
                            <input name="email_ceo" placeholder="E-mail для связи *" value="{{ form.email_ceo.value|default:'' }}" type="text"/>
                            {% if form.email_ceo.errors %}{{ form.email_ceo.errors }}{% endif %}
                        </div>
                    </div>

                    {% endif %}

                <div class="item">
                        <div class="form-item fll">
                                <input name="password" placeholder="Пароль *" type="password"/>
                            {% if form.password.errors %}{{ form.password.errors }}{% endif %}
                        </div>

                        <div class="form-item flr">
                            <input name="password1" placeholder="Повторите пароль *" type="password"/>
                            {% if form.password1.errors %}{{ form.password1.errors }}{% endif %}
                        </div>
                        <div class="clr"></div>
                    </div>

                    <div class="item">

                        <div class="form-item flr">
                        <button class="green-btn flr c-white fw300">Сохранить</button>

                        </div>

                        <div class="clr"></div>
                    </div>
                </div>
            </form>
        <div class="clr"></div>
    </div>
{% endblock %}