{% extends 'base.html' %}
{% block title %}Восстановление пароля{% endblock %}
{% load template_tags mptt_tags %}
{% block center %}
 <div class="decisions">
                <div class="container">

                <div class="popup call-back login" style="display: block; margin: 0 auto; box-shadow: none; border: 1px solid #ccc;">
                    <div class="ins">
                        <h3>Введите новый пароль</h3>
                        <form action="." method="POST">
                            <div class="form">
                                {% csrf_token %}
                                {% if form.non_field_errors %}
  <div class="non-field-errors">
    {% for err in form.non_field_errors %}
      <span class="hint error">{{ err }}</span>
    {% endfor %}
  </div>
{% endif %}
                                <div class="item" style="width: 100%;">
                <div class="form-item req">
                                    <input placeholder="Пароль" name="password" class="what gray-bg" type="password"/>
                    {% if form.password.errors %} <span class="error">{{ form.password.errors|striptags }}</span>{% endif %}
                                </div>

                                <div class="form-item req">
                                    <input placeholder="Повторите пароль" name="password1" class="what gray-bg" type="password"/>
                                    {% if form.password1.errors %} <span class="error">{{ form.password1.errors|striptags }}</span>{% endif %}
                                </div>
</div>
                                <div class="buttons">
                                    <button class="green-btn fw700" type="submit">Задать пароль</button>
                                    <div class="clr"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}