<div class="item">
    <div class="info-box">
        <div class="date-box">
            <div class="date c-gray">{{ item.date|date:'d E Y' }}</div>
        </div>
        <a href="{{ item.get_absolute_url }}" class="title">
            {{ item.name }}
        </a>
        <a href="{{ item.get_absolute_url }}" class="description c-gray">
            {{ item.short }}
        </a>
    </div>
    <div class="more-box">
        <a href="{{ item.get_absolute_url }}" class="more-arrow">{{ blocks.more }}</a>
    </div>
</div>