{% extends 'front.html' %}
{% load template_tags %}
{% block content %}
    <form method="GET" action=".">
        <div class="filters-box flex-list">
            <div class="filter-date row-t">
                <div class="label fw400 c-gray">{{ blocks.period }}:</div>
                <div class="select">
                    <select name="date">
                        <option value="">{{ blocks.upcoming }}</option>
                        {% for item in dates %}
                            {% with date=item|date:'d.m.Y' %}
                            <option{% if date == request.GET.date %} selected{% endif %} value="{{ date }}">{{ item|date:'F Y' }}</option>
                            {% endwith %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="filter-sity row-t">
                <div class="label fw400 c-gray">{{ blocks.city }}:</div>
                <div class="select">
                    <select name="city">
                        <option value="">{{ blocks.all_city }}</option>
                        {% for item in cities %}
                            <option{% if item.id|str == request.GET.city %} selected{% endif %} value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>

            </div>
        </div>
    </form>
    <div class="endless_page_template">
        {% include page_template %}
    </div>
{% endblock %}
{% block js %}
    <script>
    $(function () {
       $('select').change(function () {
           $(this).closest('form').submit();
       });
    });
    </script>
{% endblock %}