{% extends 'base.html' %}
{% block center %}
<div class="not-found">
        <div class="container">
            <div class="inner">
                <div data-wow-delay="0.5s" class="circle wow bounceIn2"></div>
                <div class="wow fadeInLeft man"></div>

                <div class="info">
                    <span class="wow fadeInUp">ошибка 404</span>
                    <h2 class="wow fadeInUp">такой
                        <br/>страницы
                        <br/>не
                        <br/>существует</h2>

                    <a href="/" class="btn-yellow wow fadeInUp black"><span>На главную</span></a>
                </div>


            </div>

        </div>
    </div>

{% endblock %}

{% block footer %}

{% endblock %}