{% extends 'profiles/profile.html' %}
{% block inner_center %}
<div class="front-box tickets-page ticket-add imf">
                    <h2>Поддержка</h2> <a class="c-blue" href="{% url 'profiles_ticket' %}">Смотреть все диалоги</a>

                    <form enctype="multipart/form-data" action="." method="POST">
                        {% csrf_token %}
                        <div class="form create-form">
                            <h3 class="fw500">Создать тикет</h3>
                            <div class="item">
                                {{ form.theme.error }}
                                {{ form.theme }}
                            </div>
                            <div class="item">
                                {{ form.departament.error }}
                                {{ form.departament }}

                            </div>
                            <div class="item">
                                {{ form.comment.error }}
                                {{ form.comment }}
                            </div>
                            <input type="hidden" name="user" value="{{ user.id }}"/>

                            <div class="bot-part">
                                <button class="green-btn c-white fw300" type="submit">Отправить</button>

                                <input name="ticket_file" data-placeholder="Прикрепить файлы" type="file"/>
                            </div>
                        </div>
                    </form>




                </div>
{% endblock %}