{% extends 'profiles/profile.html' %}
{% load pytils_numeral %}
{% block inner_center %}
<div class="front-box tickets-page imf">
                    <h2>Поддержка</h2>
                    {% if not user.is_staff %}<a href="{% url 'profiles_ticket_create' %}" class="add-ticket-btn">Создать тикет</a>{% endif %}

                    <div class="first-notify-box chain step16">
                        {% with no_read=user.profiles.get_no_read_ticket %}
                            {% if no_read %}
                                <div class="notify fs18 active">
                                <a href="#" onclick="$('#your_answer').click();$('html, body').animate({scrollTop: $('.dot-tabs').offset().top}, 500); return false;" class="no-read">{{ no_read }} {{ no_read|choose_plural:'тикет ожидает, тикета ожидают, тикетов ожидают' }} Вашего ответа</a>
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="tickets-box chain step16">
                            <h2>Все обращения</h2>
                        <br>
<form class="date-filter chain filterForm">
                                <div class="label">Показать за период с</div>
                                <div class="input">
                                    <input class="small date date-choice" type="text" name="date_from">
                                </div>
                                <div class="label">по</div>
                                <div class="input">
                                    <input class="small date date-choice" type="text" name="date_to">
                                </div>
    <a href="" class="green-btn fw300 c-white">Найти</a>

                            <div class="search-box flr">
                                <input name="q" placeholder="Поиск по ключевому слову" type="text"/>
<a href="" class="green-btn fw300 c-white">Найти</a>
                            </div>

    </form>
                    </div>

                    <div class="dot-tabs">
                        <ul>
                            <li class="active"><a href="#" data-type="all">Все {{ object_list|length }}</a></li>
                            <li><a href="#" data-type="new">Новые {{ counts.new|length }}</a></li>
                            {% if user.is_staff %}
                            <li><a href="#" id="your_answer" data-type="spec_your">Ожидают вашего ответа {{ counts.spec_your|length }}</a></li>
                            <li><a href="#" data-type="users">Ожидают ответа пользователя {{ counts.users|length }}</a></li>
                            {% else %}
                                  <li><a href="#" id="your_answer" data-type="your">Ожидают вашего ответа {{ counts.your|length }}</a></li>
                            <li><a href="#" data-type="special">Ожидают ответа специалиста {{ counts.special|length }}</a></li>
                            {% endif %}
                            <li><a href="#" data-type="close">Закрытые {{ counts.close|length }}</a></li>
                        </ul>
                    </div>

                    <div class="area">
                        <div class="ticket-items endless_page_template">
                            {% include 'profiles/tickets/endless.html' %}

                        </div>
                    </div>


                </div>
{% endblock %}